#read a txt file split by 2 columns

In [1]:
import pandas as pd
file_path = "input01.txt"
file_path = "test01.txt"
puzzle = pd.read_csv(file_path, sep="\s+", header= None, names = ["X1","X2"])

In [2]:
puzzle

   X1  X2
0   3   4
1   4   3
2   2   5
3   1   3
4   3   9
5   3   3

In [3]:
list1 = puzzle["X1"].sort_values().to_list()
list1
list2 = puzzle["X2"].sort_values().to_list()
list2

[3, 3, 3, 4, 5, 9]

In [4]:
list1

[1, 2, 3, 3, 3, 4]

In [5]:
calcul1 = [abs(x1-x2) for x1,x2 in zip(list1,list2)]
calcul1
print(sum(calcul1))

11

Part 1

In [6]:

print(f"Solution part1 : {sum(calcul1)}")

Solution part1 : 11

In [7]:
puzzle

   X1  X2
0   3   4
1   4   3
2   2   5
3   1   3
4   3   9
5   3   3

In [8]:
result_dict = puzzle['X2'].value_counts().to_dict()

In [9]:
list1

[1, 2, 3, 3, 3, 4]

In [10]:
sum_part2 =0
for x in list1:
    if x in result_dict.keys():
        sum_part2 = sum_part2 + x*result_dict[x]
sum_part2

31

In [11]:
from collections import Counter
compte_list2  = Counter(list2)
compte_list2

resultats = [ x * compte_list2[x] for x in list1]
sum(resultats)

31